.registerButton {
    background-color: #6f42c1;

    /* Puedes ajustar otros estilos según tus preferencias */

    color: rgb(255, 255, 255);
    /* Para asegurarte de que el texto sea legible */
    padding: 15px;

}

body {
    overflow-x: hidden;
    overflow-y: scroll;

}

#PantallaPrincipal {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(/ImagenesVarias/ImagenPrincipal.jpg);
    background-size: cover;
    box-shadow: #6f42c1;

}

#cabeceraLogo {
    background-color: #6f42c1;
    height: 80px;

}

.buttonEspecial {
    background-color: black;
    border-radius: 5px;
}

.iniciarSesion:hover {
    background-color: #6f42c1;
    color: antiquewhite;
}

.itemNav {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 5px;
    margin-right: 5px;


}

.tituloPrincipal {
    font-size: 5rem;
}

.itemNav:hover {
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(88, 52, 156);
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#areaDeBusqueda {
    padding-top: 100px;
    padding-bottom: 100px;

}

.lineaHorizontal {
    justify-content: center;
    border: 2px solid;
    border-color: #6f42c1;
    opacity: 100%;
    background-color: #6f42c1;
}


.peliculasRecomendadas {
    padding: 0px 100px;
    height: auto;
    box-sizing: border-box;

}

.peliculas {
    width: 250px;
    height: 300px;
    padding: 20px;

}

.peliculas:hover {
    transform: scale(1.05);
}

.buttonCambiarPagina {
    margin-right: 20px;
    border: 1px solid;
    border-color: 1px solid white;
}


.peliculas:hover {
    filter: blur(5px);
}

.input {
    border: 2px solid white;
    border-radius: 25px;
    padding: 15px 40px;
    margin: 0px 25px;
    width: 400px;


}

.buscar {
    background-color: #6f42c1;
    border: 2px solid white;
    font-size: 1.2rem;


}

#menuPrincipal {

    align-items: center;
}

.logo {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 20px;

}

.listNav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-end;
}

/*.peliculasSmall {
    height: 150px;
    width: 100px;
    margin-right: 30px;
    border-radius: 25px;
    cursor: pointer;
}*/

.Las-Mas-Aclamadas {
    width: 80%;
    margin-left: 100px;
    padding-top: 100px;
}



.containerPeliculas {
    width: 55%;
    margin-bottom: 50px;
    background-color: #0000;
    overflow-x: scroll;
}

.peliculasSmall {
    display: inline-block;
    margin-right: 20px;
    border-radius: 25px;
    height: 180px;
    width: 130px;
}

.peliculasSmall:hover {

    border: 2px solid;
    border-color: beige;
}



/*.containerPeliculas {
    width: 50%;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}
*/
::-webkit-scrollbar {
    background: #6f42c1;
}

::-webkit-scrollbar-thumb {
    background: #6f42c1;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

footer {
    background-color: #6f42c1;
    height: 100px;
    width: 100%;

}

.listFooter {
    list-style: none;

}

.itemFooter {
    text-decoration: none;
    margin-right: 30px;
    color: white;
}

.itemFooter:hover {
    color: black;
}

.boton-desplazar {
    width: 40px;
    height: 40px;
}

@media (min-width: 768px) {
    #menuPrincipal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 40px;

    }


    .itemNav {
        margin-right: 40px;
    }


    #cabeceraLogo {
        align-items: center;
    }

}